.root {
  text-align: center;
}

.Header {
  font-size: xx-large;
  margin: 20px;
  padding: 10px;
}

.MatrixContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid black;
  text-align: center;
  background: #f5f5f5;
  color: #333;
  margin: 20px;
  padding: 20px;
}

.Square {
  color: white;
  background-color: lightgrey;
  padding: 20px;
  margin: 5px;
}

.CurrentNumber {
  font-size: xx-large;
  padding: 20px;
}

.selectedSquare {
  border: 2px solid yellow;
  color: white;
  background-color: black;
  padding: 20px;
  margin: 5px;
}
